<div class="app-page">
  <div class="app-page__header">
    <h1>{{ title }}</h1>
  </div>
  <div class="app-page__content">
    <app-stepper >
      <div [ngSwitch]="objServiceStepper.objEstadoStep?.cnoLlave">
        <app-personal
        [objDiccionarios]="obsDiccionarios$  | async"
        (objChanged)="onChangedPersonal($event)"
        *ngSwitchCase="'personal'"
        [objValor]="obsPersonal$ | async"></app-personal>
        <app-professional *ngSwitchCase="'professional'"
        [objDiccionarios]="obsDiccionarios$  | async "
        (objChanged)="onChangedProfesional($event)"
        [objValor]="obsProfessional$ | async"></app-professional>
      </div>
    </app-stepper>

  </div>
  <app-spinner *ngIf="obsBlCargando$  | async"></app-spinner>
</div>
